<?xml version="1.0" encoding="utf-8"?>
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<!--Page Title-->
<title>Nightowls - Why programmers work at night</title>

<!--Device Width Check-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

<!--Meta Keywords and Description-->
<meta name="keywords" content="">
<meta name="description" content="">

<!--Favicon-->
<link rel="shortcut icon" href="images/favicon.ico" title="Favicon" />

<!--Fixes for Internet Explorer CSS3 and HTML5-->
<!--[if gte IE 9]>
<style type="text/css">
	.gradient { filter: none!important;}
</style>
<![endif]-->

<!--[if lt IE 9]>
<script>
  'article aside footer header nav section time'.replace(/\w+/g,function(n){document.createElement(n)})
</script>
<![endif]-->

<!--Main CSS-->
<link rel="stylesheet" href="css/style.css" media="screen, projection">

<!--[if lt IE 9]>
<link rel="stylesheet" href="css/style_ie8.css" media="screen, projection">
<![endif]-->

<!--Icon Fonts-->
<link rel="stylesheet" href="css/font-awesome.min.css">

<!--[if IE 7]>
<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->

<!--Google Webfonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600|Bree+Serif' rel='stylesheet' type='text/css'>

</head>
<body>

<!--Start of Product Banner-->
<section id="banner" role="banner">
<div class="row">
<div id="header_region">
<!--Start of Header Logo-->
<div id="logo" class="two_thirds">
<h1><img src="images/logo.png" alt="Nightowls" title="Nightowls" height="41" width="41"/>Nightowls</h1>
<h2>Why programmers work at night</h2>
</div>
<!--End of Header Logo-->

<!--Start of Social Elements-->
<aside id="social_elements" class="one_third last">
<ul>
<li><a class="twitter" target="_blank" title="Twitter" href="https://twitter.com/Swizec"><span>Twitter</span></a></li>
<li><a class="googleplus" target="_blank" title="Google Plus" href="https://google.com/+SwizecTeller"><span>Google Plus</span></a></li>
</ul>
</aside>
<!--End of Social Elements-->
</div>
<!--Start of Product Image-->
<div id="shelf" class="one_half">
<img src="images/book_cover.png" width="331" alt="Why programmers work at night"/></div>
<!--End of Product Image-->

<!--Start of Product Banner Description-->
<div class="one_half last">
<!--Start of Banner Title-->
<h1>Preventing burnout is part of your job.</h1>
<h2 class="subheader">Three years ago I burned out. I suffered, my
team suffered, the business died. This book is everything I've learned
since.</h2>
<!--End of Banner Title-->

<p>Why programmers work at night is about the flow of programming, why
it's easier at night and what programmers need to feel
productive. If you live or work with programmers this book will show
you how to keep them happy, if you're a programmer it will help you
get your best work done any time of the day. Everyone on your team who
is <em>That Guy</em> should read this book.</p>

<!--Start of Buy Button-->
<div class="button_buy">
<a href="https://leanpub.com/nightowls" class="gradient" title="Buy eBook"><span class="button_price">$16.00</span>
<span class="button_text">Buy eBook</span></a>
<p class="hint">eBook includes PDF, ePub and Kindle versions</p>
</div>

<p class="happy_readers"><%= happy_readers %> happy readers</p>
<!--End of Buy Button-->

</div>
<!--End of Product Banner Description-->

</div>
</section>
<!--End of Product Banner-->

<!--Start of Main Content-->
<article role="main">
<div id="main_content">


<!--Start of Testimonials-->
<section id="testimonials" class="background_grey">
<div class="row">

  <!--Start of Testimonial-->
  <blockquote class="one_third">
    <q>My mum needs to read this book!</q>
    <footer>
      <img src="images/cubox.png" height="60" width="60" alt="Andy Pilate"/>
      <div>Andy Pilate</div>
      Python Developer
    </footer>
  </blockquote>
  <!--End of Testimonial-->


  <!--Start of Testimonial-->
  <blockquote class="one_third">
    <q>Just read your book and loved it. Made me feel normal again. Found plenty of good advice in it.</q>
    <footer>
      <img src="images/matjazdrolc.png" height="60" width="60"
           alt="Matjaz Drolc"/>
      <div>Matjaz Drolc</div>
      Programmer
    </footer>
  </blockquote>
  <!--End of Testimonial-->

  <!--Start of Testimonial-->
  <blockquote class="one_third last">
    <q>My girlfriend loved your book!</q>
    <footer>
      <img src="images/janhancic.png" height="60" width="60" alt="Jan Hancic"/>
      <div>Jan Hancic</div>
      Software Engineer
    </footer>
  </blockquote>
  <!--End of Testimonial-->

</div>
<div class="row">

  <!--Start of Testimonial-->
  <blockquote class="one_third">
    <q>Very interesting book. I never gave the idea of the "flow" much
    thought until now. I would love to master the flow of programming</q>
    <footer>
      <img src="images/szahn.png" height="60" width="60" alt="Stuart Zahn"/>
      <div>Stuart Zahn</div>
      Enterprise App Developer
    </footer>
  </blockquote>
  <!--End of Testimonial-->


  <!--Start of Testimonial-->
  <blockquote class="one_third">
    <q>Can't wait for this book to be finished!  Programmers rock, night-time rocks, and I'm a big fan of biographical works. :)</q>
    <footer>
      <img src="images/amarand.png" height="60" width="60"
           alt="Amarand Agasi"/>
      <div>Amarand Agasi</div>
      Programmer
    </footer>
  </blockquote>
  <!--End of Testimonial-->

  <!--Start of Testimonial-->
  <blockquote class="one_third last">
    <q>Great book. Well written and funny remarks keep you glued to it. I literally LOL'd few times :) So if you are a programmer or live with a one be sure to read this book. It will teach you some new stuff for certain.</q>
    <footer>
      <img src="images/danguba.png" height="60" width="60" alt="Danguba"/>
      <div>Danguba</div>
      Programmer
    </footer>
  </blockquote>
  <!--End of Testimonial-->

</div>
</section>
<!--End of Testimonials-->

<!--Start of Features-->
<section id="features">
<div class="row">

<!--Start of Features Title-->
<h2 class="section_title"><span>What you'll love about this book</span></h2>
<!--End of Features Title-->

<!--Start of Features List-->
<ul>
<li class="one_half">
<h4>Leans on peer reviewed sources</h4><p>I read hundreds of peer
reviewed papers on sleep patterns, nutrition, productivity, caffeine
and focus. Everything made it into the book, both pros and cons, so
you can make your own decisions.</p></li>
<li class="one_half last">
<h4>Makes you feel normal</h4><p>To write this book I talked to tens
of programmers just like you. They shared stories of terrible work
environments, long nights, sleepy mornings and cats who just wouldn't stay off
the damn keyboard.</p></li>
<li class="one_half">
<h4>All tips were tested on real people</h4><p>Practical tips in this
book aren't just theories. Every each one has worked for
<em>somebody</em>. Either myself, one of my friends, or one of the many programmers I talked to.</p></li>
<li class="one_half last">
<h4>Helps your boss understand interruptions</h4><p>Many who've
read this book have thanked me for helping their spouse, boss, or
coworkers understand how programmers work. Only once they understand,
can they improve.</p></li>
<li class="one_half">
</ul>
<!--End of Features List-->
</div>
</section>
<!--End of Features-->

<section id="video" class="background_white">
<div class="row">

<!--Start of Video Title-->
<h2 class="section_title"><span>Why programmers work at night at Webcamp Zagreb</span></h2>
<!--End of Video Title-->

<div class="embed_container">
<!--Video Iframe--> <iframe src="//www.youtube-nocookie.com/embed/OAcOjTks9Ew" frameborder="0" allowfullscreen></iframe> <!--End of Video Iframe-->
</div>
</div>
</section><!--End of Video-->

<!--Start of A Word from the Author-->
<section id="author" class="background_white">
<div class="row">
<div class="one_half">

<!--Author Avatar-->
<img src="images/swizec.png" height="100" width="100" id="author_image" class="left" alt="Author" />
<!--End of Author Avatar-->

<div class="one_third last">

<h2>Swizec Teller</h2>

<p>I've been a programmer for 17 years and in that time I've been
called everything from weird, cooky, and anti-social, to genius and a
wizard.</p>

<p>The truth is, I love programming and devote a lot of my life
to it. Nothing will stop me from staying up all night when an
interesting problem catches my attention. But I've also been known to
get off work at 2pm when it's just not flowing. Society thinks that's
eccentric, but wouldn't you rather spend your peak hours working and
your low hours resting, than conform to some weird notion that
everyone works best from 9am to 5pm?</p>

<p>I'm writing this book to help others get into flow and stay there.</p>

</div>
</div>

<div id="book_cover" class="one_half last">

<!--Start of Book Cover-->
<img src="images/book_cover.png" alt="Why programmers work at night" height="370" width="320"/>
<!--End of Book Cover-->

</div>

<!--Start of Buy Button-->
<div class="button_buy">
<a href="https://leanpub.com/nightowls/packages/book/purchases/new" class="gradient" title="Buy eBook"><span class="button_price">$16.00</span>
<span class="button_text">Buy eBook</span></a>
<p class="hint">eBook includes PDF, ePub and Kindle versions</p>
</div>
<!--End of Buy Button-->

</div>
</section>
<!--End of A Word from the Author-->

<aside class="background_grey">

<!--Start of Newsletter-->
<div id="newsletter" class="row">

<h2>Sign up for the Nightowls bi-monthly!</h2>

<form
    action="http://swizec.us1.list-manage2.com/subscribe/post?u=8792f86f5fe8498ca793fc2bc&amp;id=3f1f5e5f83"
    method="post">
<input type="text" name="FNAME" placeholder="John Doe" />
<input type="text" name="EMAIL" id="e-mail" placeholder="john_doe@example.com" />
 <div style="position: absolute; left: -5000px;"><input type="text" name="b_8792f86f5fe8498ca793fc2bc_3f1f5e5f83" value=""></div>
<input id="submit" class="gradient" type="submit" value="Subscribe" name="subscribe" />
</form>
</div>
<!--End of Newsletter-->

</aside>




</div>
</article>
<!--End of Main Content-->

<!--Start of Landing Page Footer-->
<footer role="contentinfo">
<div id="page_footer" class="row">

<p>
&copy; Swizec Teller 2014. All rights reserved.
</p>
</div>
</footer>
<!--End of Landing Page Footer-->

<a href="#" class="scrollup">Scroll up</a>
<!-- Included JS Files (Compressed) -->
<script src="js/foundation.min.js"></script>
<script src="js/phrases.js"></script>
<script src="js/site.min.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1464315-18']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<a title="Web Analytics" href="http://clicky.com/100697246"><img alt="Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(100697246);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100697246ns.gif" /></p></noscript>
</body>
</html>
